@charset "UTF-8";
li{
	font-size:18px;
}
.menu_principal{
	background-color:cyan;
	padding:15px;
}
.menu_principal li{
	list-style:none;
	display:inline;
	padding:5px;
	
}
.menu_principal li:hover{
	background-color:green;
}